<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="w-100" style="height: 100vh;">
    <div class="container pt-4">
        <div class="row pb-5">
            <div class="offset-md-3 col-md-6 border mt-5">
                {% if errors %}
                    {{ errors }}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <label for = "username"> Username </label>
                    <input class="form-control" type = "text" name = "username" id = "username">
                    <label for = "password"> Password </label>
                    <input class="form-control" type = "password" name = "password" id = "password">
                    <br>
                    <button type="submit" class="btn text-center btn-outline-primary">Login</button>
                </form>
                <br>
                <a href="/register">
                    <button type="submit" class="btn btn-outline-primary">Register</button>
                </a>
            </div>
        </div>
    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>